body{
    background-image: url(イラスト2.png);
    background-size:cover;
    padding-left: 1em; 
    padding-right: 1em; 
}
div#allpage{
    width:80px;
}

header{
    display: flex;
    background-image: url(イラスト1.png);
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-position:center;
    background-size:10%;
    width: 2000;
    height: 60px;
    align-items: center;
}
.title{
    padding: 0px 38px;
    font-size:50px;
    color: rgb(56, 201, 160);
}

.card-container{
    display:flex;
    text-align:left;
}

.setumei{
    text-align:left;
    margin:30px;
}

.setumei1{
    font-size: 20px;
    padding: 0px 30px;
    color: rgb(189, 116, 20);
}

.setumei2{
    padding: 0px 50px;
    font-size: 15px;
    color: rgb(60, 51, 40);
}

.box{
    display: flex;
    margin:10px;
    width:350px;
    height:130px;
    background-size:cover;
    background-color:rgba(255, 255, 255,1.0);
    background-blend-mode:lighten;
    border:4px solid #008b8b;
}

.tango{
    padding: 20px 60px; 
}
.tango1{
    color: black;
    font-size: 25px;

}

.gif{
    display: flex;
    bottom:0%; 
    left:0%;
    align-items: flex-end;
}
